<div class="container" *ngIf="formUser" [formGroup]="formUser">
  <h1>{{title}}</h1>
  <mat-form-field class="input-form" appearance="fill" >
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Ingresa tu nombre" formControlName="name">
  </mat-form-field>

  <mat-form-field class="input-form" appearance="fill" >
    <mat-label>Telefono</mat-label>
    <input matInput placeholder="Ingresa el telefono" formControlName="phone">
  </mat-form-field>

  <mat-form-field class="input-form" appearance="fill" >
    <mat-label>Edad</mat-label>
    <input type="number" matInput placeholder="Ingresa tu edad" formControlName="age">
  </mat-form-field>

  <button
  mat-raised-button
  color="primary"
  [disabled]="formUser.invalid"
  (click)="save()">Guardar</button>
</div>
